{% load static %}

<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>로그인</title>
</head>
<body>
<div class="container">
    <header>
        <div class="loginTitle">로그인</div>
        <div class="notice">서비스를 이용하려면 로그인이 필요해요</div>
    </header>

<main class="loginContainer">

    {% if messages %}
        {% for message in messages %}
            <div class="errorMessage">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" class="loginForm">
        {% csrf_token %}

        <div class="inputBox">
            <!-- <label for="username">아이디</label> -->
            <input
                type="text"
                id="username"
                name="username"
                placeholder="아이디를 입력하세요"
                required
            >
        </div>

        <div class="inputBox">
            <!-- <label for="password">비밀번호</label> -->
            <input
                type="password"
                id="password"
                name="password"
                placeholder="비밀번호를 입력하세요"
                required
            >
        </div>

        <div class="loginCheck">
            <img src="{% static 'img/icon-check-gray.svg' %}" class="loginCheckImg">
            <span>로그인 상태 유지</span>

        </div>

        <button type="submit" class="loginBtn" disabled>
            로그인
        </button>
    </form>

    <div class="divider">또는</div>

    <div class="socialLogin">
        <button type="button" class="socialBtn googleBtn">
            <img src="{% static 'img/icon-google.png' %}">
            <span>Google로 계속하기</span>
        </button>
        <button type="button" class="socialBtn appleBtn">
            <img src="{% static 'img/icon-apple.png' %}">
            <span> Apple로 계속하기</span>
        </button>
    </div>

    <div class="signupBox">
        <span>계정이 없으신가요?</span>
        <a href="" class="signupLink">회원가입</a>
    </div>

</main>
</div>

<script src="{% static 'js/login.js' %}"></script>
</body>
</html>
