{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/post_list.css' %}">
    <title>게시글 목록</title>
</head>
<body>
<div class="container">
    <header>
        <div class="headerBox">
            <div class="backIcon"><img src="{% static 'img/icon-profile.svg' %}" width="29px" height="29px"></div>
            <div class="headerTitle">교수 후기</div>
            <button type="button" class="submitBtn" onclick="location.href='{% url 'posts:search' %}'"><img width="24px" height="24px" src="{% static 'img/icon-search.png' %}"></button>
        </div>

        <div class="profileBox">
            <div class="archive" onclick="location.href='{% url "posts:archive" %}'" style="cursor: pointer;">보관함</div>
            
            <div class="profileSettings">프로필 설정</div>
            
            <form class="logoutForm">
                <button class="logoutBox" type="button">로그아웃</button>
            </form>
        </div>
    </header>

    <aside class="asideBox">
        <a href="{% url 'posts:post_list' %}?sort=latest" ><button type="button" class="latesBtn">최신순</button></a>
        <a href="{% url 'posts:post_list' %}?sort=popular"><button type="button" class="popularBtn">인기순</button></a>
    </aside>

    <div class="articleContainer">
        {% for post in posts %}
        <a href="{% url 'posts:detail' post.id %}" class="articleLink">
        <article class="articleBox">

            <div class="articleTitle">
                <div class="majorBadge globalCollege">{{ post.professor.department }}</div>
                <div class="professor">{{ post.professor.name }} 교수님</div>

                <div class="starRaiting">
                        {% for i in "12345" %}
                            {% if forloop.counter <= post.rating %}
                                <img class="starYellow" src="{% static 'img/icon-star-yellow.png' %}">
                            {% else %}
                                <img class="starGray" src="{% static 'img/icon-star-gray.svg' %}">
                            {% endif %}
                        {% endfor %}
                </div>
            </div>

            <div class="contentBox">
                <p class="contentTitle">{{ post.title }}</p>
                <p class="contentTxt">{{ post.content|truncatechars:50 }}</p>

                {% if post.images.all %}
                <div>🖼️ 이미지 (총 {{ post.images.count }}장)</div>
                {% endif %}
            </div>

            <div class="articleFooter">
                <div class="postMeta">
                    <p class="writer">
                        {% if post.is_anonymous %}
                            익명
                        {% else %}
                            {{ post.user.username }}
                        {% endif %}
                    </p>
                    <p>·</p>
                    <p class="writeTime">{{ post.created_at|date:"m/d H:i" }}</p>
                    <p>·</p>
                    <p class="viewCount">조회 {{ post.views_count }}</p>
                </div>

                <div class="reactionBox">
                    <div class="likeBox">
                    {% if request.user in post.like_users.all %}
                        <img src="{% static 'img/LikeBtn_active.svg' %}" width="18px" height="18px">
                        <p class="likeTxtRed">{{ post.like_users.count }}</p>
                    {% else %}
                        <img src="{% static 'img/icon-like-gray.png' %}" width="18px" height="18px">
                        <p class="likeTxt">{{ post.like_users.count }}</p>
                    {% endif %}
                    </div>
                    <div class="commentBox">
                        <img src="{% static 'img/icon-comment.png' %}" width="15px" height="15px">
                        <p class="commentTxt">{{ post.comments.count }}</p>
                    </div>
                </div>
            </div>

        </article>
        </a>
        {% empty %}
        <p>작성된 교수 후기가 없습니다.</p>
        {% endfor %}
    </div>
    
    <a href="{% url 'posts:create' %}">
        <img src="{% static 'img/icon-pencil.png' %}" class="pencilButton">
    </a>
</div>
<script src="{% static 'js/post_list.js' %}"></script>
</body>
</html>