<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세보기</title>
    <link rel="stylesheet" href="../static/css/post_detail.css">
</head>
<body>
    <div class="app-container">
        <header class="post-header">
            <a href="#" class="back-btn">
                <img src="../static/img/CaretLeft.svg" alt="뒤로가기"/>
            </a>
            <div class="post-header-right">
                <h2>교수 후기</h2>
                <button type="button" class="bookmark-btn" id="bookmarkBtn">
                    <img src="../static/img/Bookmark.svg" id="bookmarkImg"alt="북마크"/>
                </button>
            </div>
        </header>

        <section>
            <div class="post-content">
                <div class="post-meta">
                    <div class="post-info">
                        <div class="dept-badge">유아교육과</div>
                        <div class="prof-info">김윤희 교수</div>
                        <div class="prof-rating">
                            <img src="../static/img/Star.svg" alt="별점" class="star-icon"/>
                            <span class="rating-score">5.0</span>
                        </div>
                    </div>
                
                    <div class="post-actions">
                        <div class="author-only">
                            <span>삭제</span> | <span>수정</span>
                        </div>
                        <div class="viewer-only">
                            <button class="dots-btn"><img class="dots" src="../static/img/DotsThree.svg" alt="점세개"/></button>
                        </div>
                    </div>
                </div>

                <div class="post-body">
                    <h1 class="post-title">강의 스타일이 좋아요!</h1>

                    <div class="profile">
                        <div class="user-profile"><img src="../static/img/UserCircle.svg" alt="유저 프로필"/></div>
                        <div class="user-meta">
                            <div class="user-name">익명</div>
                            <div class="post-date">2026.05.25 · 조회 123</div>
                        </div>
                    </div>

                    <p class="post-text">
                        이해하기 쉽게 설명해주시고 수업 분위기도 좋아요.
                        매번 수업 가는 게 즐거워요.
                        강의 자료도 깔끔하게 정리해주셔서 복습할 때 유용했어요!
                        질문도 친절하게 답변해주시고 학생들 의견을 잘 반영해주십니다.
                        정말 추천드려요!
                    </p>
                </div>
            </div>

            <div class="image-group">
                <div class="image-list">
                    <div class="image-placeholder"></div>
                    <div class="image-placeholder"></div>
                    <div class="image-placeholder"></div>
                </div>
                <p class="image-count">첨부 이미지 4장</p>
            </div>

            <div class="action-bar">
                <div class="action-left">
                    <button type="button" id="likeBtn" class="like-count" >
                        <img src="../static/img/LikeBtn.svg" id="likeBtnImg" alt="좋아요"/>
                        <span id="likeCount">11</span>
                    </button>
                    <span class="comment-count">
                        <img src="../static/img/ChatCircle.svg" alt="댓글"/> 5
                    </span>
                </div>

                <button class="export-btn">
                    <img src="../static/img/Export.svg" alt="공유하기"/> 공유하기
                </button>
            </div>
        </section>

        <section class="comment-section">
            <div class="comment-meta">
                <h4>댓글 5</h4>
                <div class="comment-actions">
                    <button type="button" class="sort-btn active">최신순</button>
                    <button type="button" class="sort-btn">인기순</button>
                </div>
            </div>

            <div class="comment-list">
                <div class="comment-item">
                    <div class="comment-body">
                        <div class="profile">
                            <div class="user-profile"><img src="../static/img/UserCircle.svg" alt="유저 프로필"/></div>
                            <div class="user-meta">
                                <div class="user-name">익명1</div>
                                <div class="post-date">2026.05.25 · 17:58</div>
                            </div>
                        </div>
                        <div class="comment-main">
                            <p class="comment-text">맞아요 ㅎㅎ 설명 진짜 잘해주세요!</p>
                            <div class="comment-bar">
                                <button type="button" class="comment-like-btn">
                                    <img src="../static/img/LikeBtn.svg" class="comment-like-img" alt="좋아요"/>
                                    <span class="comment-like-count">5</span> </button>
                                <button class="comment-reply-btn">답글달기</button>
                            </div>
                        </div>
                    </div>
                    <div class="dots-container">
                        <button type="button" class="dots-btn">
                            <img class="dots" src="../static/img/DotsThree.svg" alt="점세개"/>
                        </button>

                        <div class="dots-menu">
                            <button type="button" class="menu-item">쪽지 보내기</button>
                            <div class="menu-divider"></div>
                            <button type="button" class="menu-item report">신고하기</button>
                        </div>
                    </div>
                </div>

                <div class="comment-item reply">
                    <div class="reply-comment-group">
                        <img class="reply-arrow" src="../static/img/ArrowElbowDownRight.svg" alt="대댓글"/>
                        <div class="reply-content">
                            <div class="profile">
                                <div class="user-profile"><img src="../static/img/UserCircle.svg" alt="유저 프로필"/></div>
                                <div class="user-meta">
                                    <div class="user-name">익명(작성자)</div>
                                    <div class="post-date">2026.05.25 · 17:58</div>
                                </div>
                            </div>
                            <div class="reply-comment-main">
                                <p class="reply-comment-text">맞아요 ㅎㅎ 설명 진짜 잘해주세요!</p>
                                <div class="reply-comment-bar">
                                    <button type="button" class="comment-like-btn">
                                        <img src="../static/img/LikeBtn.svg" class="comment-like-img" alt="좋아요"/>
                                        <span class="comment-like-count">5</span>
                                    </button>
                                    <button class="comment-reply-btn">답글달기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-actions">
                        <div class="author-only">
                            <span>삭제</span> | <span>수정</span>
                        </div>
                        <div class="viewer-only">
                            <button class="dots-btn"><img class="dots" src="../static/img/DotsThree.svg" alt="점세개"/></button>
                        </div>
                    </div>
                </div>
                <div class="comment-item">
                    <div class="comment-body">
                        <div class="profile">
                            <div class="user-profile"><img src="../static/img/UserCircle.svg" alt="유저 프로필"/></div>
                            <div class="user-meta">
                                <div class="user-name">익명2</div>
                                <div class="post-date">2026.05.25 · 17:58</div>
                            </div>
                        </div>
                        <div class="comment-main">
                            <p class="comment-text">맞아요 ㅎㅎ 설명 진짜 잘해주세요!</p>
                            <div class="comment-bar">
                                <button type="button" class="comment-like-btn">
                                    <img src="../static/img/LikeBtn.svg" class="comment-like-img" alt="좋아요"/>
                                    <span class="comment-like-count">5</span> </button>
                                <button class="comment-reply-btn">답글달기</button>
                            </div>
                        </div>
                    </div>
                    <div class="dots-container">
                        <button type="button" class="dots-btn">
                            <img class="dots" src="../static/img/DotsThree.svg" alt="점세개"/>
                        </button>
                        
                        <div class="dots-menu">
                            <button type="button" class="menu-item">쪽지 보내기</button>
                            <div class="menu-divider"></div>
                            <button type="button" class="menu-item report">신고하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="comment-input-area">
            <div class="comment-input">
                <input type="text" id="commentInput" name="comment_content" placeholder="댓글을 입력해주세요."/>
                <label for="checkbox" class="checkbox-label" id="anonToggleBtn">
                    <span class="checkbox-box">
                        <img src="../static/img/Checkbox.svg" id="anonCheckImg" alt="체크박스"/>
                    </span>
                    <span class="checkbox-text">익명</span>
                </label>
            </div>
            <button class="comment-submit-btn" id="submitBtn">
                <img src="../static/img/Submitbtn.svg" id="submitBtnImg" alt="전송"/>
            </button>
        </div>
    </div>
    <div class="modal-overlay" id="deleteModal">
        <div class="modal-box">
            <div class="modal-content">
                <p>게시글이 삭제됩니다.</p>
            </div>
            <button type="button" class="modal-confirm-btn" id="modalConfirmBtn">
                확인
            </button>
        </div>
    </div>
    <script src="../static/js/post_detail.js" defer></script>
</body>
</html>