{% load static %}
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="{% static "css/signup.css" %}" />
  </head>
  <body>
    <main class="signup-container">
      <div class="signup-content">
        <header class="signup-header">
          <h1 class="main-title">회원가입</h1>
          <p class="sub-title">계정을 만들고 서비스를 이용해보세요</p>
        </header>

        <form class="signup-form">
          <div class="input-group">
            <label class="input-label">아이디</label>
            <div class="input-container">
              <input
                type="text"
                placeholder="아이디를 입력해주세요"
                class="input-field"
              />
            </div>
            <div class="status-message-box">
              <span class="status-item ">4~12자 <img src="../static/img/Check.svg" alt="체크"/></span>
              <span class="status-item">영문 <img src="../static/img/Check.svg" alt="체크"/></span>
              <span class="status-item">숫자 <img src="../static/img/Check.svg" alt="체크"/></span>
              <span class="status-item">중복확인 <img src="../static/img/Check.svg" alt="체크"/></span>
            </div>
          </div>

          <div class="input-group">
            <label class="input-label">비밀번호</label>
            <div class="input-container">
              <input
                type="password"
                placeholder="비밀번호를 입력해주세요"
                class="input-field"
                value=""
              />
              <button type="button" class="password-toggle-btn">
                <img src="../static/img/icon-eye.svg" alt="비밀번호 보기" />
              </button>
            </div>
            <div class="status-message-box">
              <span class="status-item">8~20자 <img src="../static/img/Check.svg" alt="체크"/></span>
              <span class="status-item">영문 <img src="../static/img/Check.svg" alt="체크"/></span>
              <span class="status-item">숫자 <img src="../static/img/Check.svg" alt="체크"/></span>
              <span class="status-item">특수문자 <img src="../static/img/Check.svg" alt="체크"/></span>
            </div>
          </div>

          <div class="input-group">
            <label class="input-label">비밀번호 확인</label>
            <div class="input-container">
              <input
                type="password"
                placeholder="비밀번호를 입력해주세요"
                class="input-field"
              />
              <button type="button" class="password-toggle-btn">
                <img
                  src="../static/img/icon-eye-off.svg"
                  alt="비밀번호 숨기기"
                />
              </button>
            </div>
            <div class="status-message-box">
              <span class="status-item">비밀번호 일치 <img src="../static/img/Check.svg" alt="체크"/></span>
            </div>
          </div>
        </form>

        <button type="submit" class="submit-btn">회원가입 하기</button>
      </div>
      <div class="divider-zone">
        <span class="divider-text">또는</span>
      </div>

      <div class="social-login-component">
        <!--<button type="button" class="sns-btn google-btn">
          <img src="../static/img/icon-google.svg" alt="Google" />
          <span>Google로 가입하기</span>
        </button>
        <button type="button" class="sns-btn apple-btn">
          <img src="../static/img/icon-apple.svg" alt="Apple" />
          <span>Apple로 가입하기</span>
        </button>-->
        {% static 'img/icon-google.svg' as google_url %}
        {% include 'social_login.html' with provider='google' icon_path=google_url text='Google로 가입하기' %}
        
        {% static 'img/icon-apple.svg' as apple_url %}
        {% include 'social_login.html' with provider='apple' icon_path=apple_url text='Apple로 가입하기' %}
        <div class="footer-link-box">
          <span class="footer-text">이미 계정이 있으신가요?</span>
          <a href="/login/" class="footer-link">로그인</a>
        </div>
      </div>
    </main>
  </body>
</html>