* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard;
}

body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* 전체 컨테이너*/
.complete-container {
  width: 100%;
  max-width: 402px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  background-color: #ffffff;
}

.complete-content {
  width: 344px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 핑크색 체크 원형 아이콘 */
.success-icon-zone {
  margin-bottom: 36px;
}

.success-circle {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 타이틀 문구 */
.complete-title {
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  line-height: 1.4;
  margin-bottom: 20px;
}

/* 서브 설명 문구 */
.complete-sub-text {
  font-size: 15px;
  font-weight: 400;
  color: #686866;
  line-height: 1.5;
  margin-bottom: 164px;
}

/* 로그인 하러 가기 버튼*/
.login-redirect-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  background-color: #f93c3c;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
}